body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selectionboxHead {
  display: flex;
}
.AddPlayerWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 25px;
}
.addplayerbox {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.selectionbox {
  padding: 8px 15px;
  margin: 10px;
  border: 1px solid grey;
  cursor: pointer;
  color: #fff;
}

.selectionbox:hover {
  background-color: grey;
}

.mainWrapper {
  background-color: rgba(0, 0, 0, 1);
  min-height: 100vh;
  padding-top: 75px;
}
.playertext {
  width: 30%;
  color: #fff;
}
.submitbuttonadd {
  display: flex;
  width: 100%;
  justify-content: center;
}
.addplayerfield {
  background-color: #fff;
  color: #000;
  height: 20px;
}
.addplayerimagewrapper {
  width: 50%;
}
.addplayercontent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.addplayerimage {
  width: 30%;
}
.playerdetailsmainwrapper {
  display: flex;
  flex-wrap: wrap;
}
.cardBox {
  width: 250px;
  padding: 25px 10px;
  height: auto;
  background-color: #fff;
  margin: 10px;
  box-shadow: 5px 4px 2px #888888;
  border-radius: 2%;
}
.cardimage {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
}
.playercardmainbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carduserName {
  margin: 5px;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}
.cardusersold {
  font-size: 15px;
  font-family: fantasy;
}
.carduserNameAmount {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.playerdetailstitle {
  width: 100%;
  font-size: 25px;
  color: #fff;
  font-family: monospace;
  font-style: italic;
}
.playersearchbox {
  padding: 15px;
}
.searchplayertext {
  height: 25px;
}
.searchbutton {
  height: 31px;
  margin-left: 5px;
}
.amountvalue {
  color: red;
}
.HeaderWrapper {
  height: 90px;
  background: rgba(0, 0, 0, 1);
  padding: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.Headerimagewrapper {
  width: 10%;
}
.Headertextwrapper {
  width: 80%;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-style: italic;
}
.captaincover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px !important;
}
.captaincardinner {
  padding: 25px 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
/* .captainnames {
  color: #fff;
} */

/* query */

@media only screen and (max-width: 768px) {
  .HeaderWrapper {
    height: 50px !important;
  }

  .Headerimagewrapper {
    width: 15% !important;
  }

  .Headertextwrapper {
    width: 70% !important;
  }

  .Headertextwrapper {
    font-size: 20px !important;
  }

  .mainWrapper {
    padding-top: 50px !important;
  }
}
